body {
  margin: 0;
  background-color: #343a40;
}

#nav {
  height: 5vh;
  z-index: 2;
}

main {
  margin: 0;
  height: 80vh;
  width: 100vw;
}

p {
  margin: 0;
}

#bg {
  background: url(Images/clouds.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 85vh;
  position: absolute;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

#details {
  background-color: rgba(53, 59, 65, 0.42);
  transform: translateX(50%);
  position: absolute;
  width: 25vw;
  left: 50%;
  top: 20%;
  border-radius: 20px;
}

#details p,
svg,
h1 {
  color: white;
}

#map {
  display: inline-block;
  width: 70vh;
  height: 70vh;
  transform: translate(5vh, 5vh);
  border: solid 5px rgba(53, 59, 65, 0.747);
  border-radius: 50px;
  overflow: hidden;
}

#map img {
  width: 100%;
  height: 100%;
  /* border-radius: 50px; */
}

.city {
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  font-size: 12pt;
}

.mw-half {
  max-width: 50vh;
}

#bordeaux {
  top: 60%;
  left: 33%;
}
#lille {
  top: 7%;
  left: 53%;
}
#lyon {
  top: 52%;
  left: 63%;
}
#marseille {
  top: 76%;
  left: 67%;
}
#montpellier {
  top: 75%;
  left: 55%;
}
#nantes {
  top: 40%;
  left: 25%;
}
#nice {
  top: 73%;
  left: 76%;
}
#paris {
  top: 23%;
  left: 50%;
}
#strasbourg {
  top: 26%;
  left: 80%;
}
#toulouse {
  top: 72%;
  left: 45%;
}

footer {
  background-color: #4d5155;
  height: 15vh;
  width: 100vw;
  position: fixed;
}

footer a {
  color: white;
  text-decoration: none;
}

.font-s {
  font-size: 12pt;
}
.font-m {
  font-size: 18pt;
}
.font-l {
  font-size: 42pt;
}
