body {
  margin: 0;
  background-color: #343a40;
}

#nav {
  height: 5vh;
  z-index: 2;
}

main {
  margin: 0;
  height: 80vh;
  width: 100vw;
  background: url(Images/clouds.jpg) no-repeat center;
  background-size: cover;
}

p {
  margin: 0;
}

#details-bg {
  /* background: url(Images/clouds.jpg) no-repeat left top; */
  /* filter: blur(10px); */
  /* -webkit-filter: blur(10px); */
  min-width: 100vw;
  height: 100%;
}

#details {
  top: 20%;
  left: 70%;
  z-index: 2;
  position: absolute;
}

#map {
  display: inline-block;
  width: 80vh;
  height: 80vh;
}

#map img {
  width: 100%;
  height: 100%;
}

.city {
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  font-size: 12pt;
}

.mw-half {
  max-width: 50vh;
}

#bordeaux {
  top: 60%;
  left: 33%;
}
#lille {
  top: 7%;
  left: 53%;
}
#lyon {
  top: 52%;
  left: 63%;
}
#marseille {
  top: 76%;
  left: 67%;
}
#montpellier {
  top: 75%;
  left: 55%;
}
#nantes {
  top: 40%;
  left: 25%;
}
#nice {
  top: 73%;
  left: 76%;
}
#paris {
  top: 23%;
  left: 50%;
}
#strasbourg {
  top: 26%;
  left: 80%;
}
#toulouse {
  top: 72%;
  left: 45%;
}

footer {
  height: 15vh;
  width: 100vw;
  background-color: #4d5155;
}
