body {
  margin: 0;
  background-color: #343a40;
}

main {
  margin: 0;
  height: 95vh;
}

p {
  margin: 0;
}

#nav {
  height: 5vh;
  z-index: 2;
}
#details-bg {
  background: url(Images/clouds.jpg) no-repeat left top;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 50vw;
  height: 100%;
}

#details {
  top: 20%;
  left: 50%;
}

#map {
  display: inline-block;
  width: 50vw;
  height: 100%;
}

#map img {
  width: 100%;
  height: 100%;
}

.city {
  position: absolute;
  transform: translateX(-50%);
  background-color: transparent;
  border: none;
  font-size: 12pt;
}

#bordeaux {
  top: 60%;
  left: 33%;
}
#lille {
  top: 7%;
  left: 53%;
}
#lyon {
  top: 52%;
  left: 63%;
}
#marseille {
  top: 76%;
  left: 67%;
}
#montpellier {
  top: 75%;
  left: 55%;
}
#nantes {
  top: 40%;
  left: 25%;
}
#nice {
  top: 73%;
  left: 76%;
}
#paris {
  top: 23%;
  left: 50%;
}
#strasbourg {
  top: 26%;
  left: 80%;
}
#toulouse {
  top: 72%;
  left: 45%;
}
